---
import Container from "./Container.astro";
import vault from "../assets/vault.png";
import unConnected from "../assets/unConnected.png";
---

<div id="solution">
  <Container>
    <div class="my-10">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-1/2">
          <img
            src={vault}
            alt="unconnected devices"
            class="w-full mt-12 md:mt-0"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
          >
            Real-Time, Uninterrupted Practice
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Review every movement instantly on your iPad, while your iPhone
            continues recording live. Analyze in real-time without pausing the
            action.
          </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div
                class="w-12 h-12 flex gap-4 rounded-full bg-indigo-600 dark:bg-indigo-900/20"
              >
                <svg
                  fill="currentColor"
                  class="w-6 h-6 m-auto text-indigo-600 dark:text-indigo-400"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                    <path
                      d="M16.6582 9.28638C18.098 10.1862 18.8178 10.6361 19.0647 11.2122C19.2803 11.7152 19.2803 12.2847 19.0647 12.7878C18.8178 13.3638 18.098 13.8137 16.6582 14.7136L9.896 18.94C8.29805 19.9387 7.49907 20.4381 6.83973 20.385C6.26501 20.3388 5.73818 20.0469 5.3944 19.584C5 19.053 5 18.1108 5 16.2264V7.77357C5 5.88919 5 4.94701 5.3944 4.41598C5.73818 3.9531 6.26501 3.66111 6.83973 3.6149C7.49907 3.5619 8.29805 4.06126 9.896 5.05998L16.6582 9.28638Z"
                      stroke-width="2"
                      stroke-linejoin="round"></path>
                  </g>
                </svg>
              </div>
              <div class="w-5/6">
                <h4
                  class="font-semibold text-lg text-gray-700 dark:text-indigo-400"
                >
                  Hands-Free Coaching
                </h4>
                <p class="text-gray-500 dark:text-gray-400">
                  Prop your iPhone up, connect to your iPad, and focus on
                  coaching without holding devices.
                </p>
              </div>
            </div>
            <div class="pt-4 flex gap-4 md:items-center">
              <div
                class="w-12 h-12 flex gap-4 rounded-full bg-orange-200 dark:bg-orange-900/20"
              >
                <svg
                  viewBox="0 0 1024 1024"
                  version="1.1"
                  fill="currentColor"
                  class="w-6 h-6 m-auto text-orange-600 dark:text-orange-400"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="#000000"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><path
                      d="M448 768A320 320 0 1 0 448 128a320 320 0 0 0 0 640z m297.344-76.992l214.592 214.592-54.336 54.336-214.592-214.592a384 384 0 1 1 54.336-54.336z"
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="w-5/6">
                <h4
                  class="font-semibold text-lg text-gray-700 dark:text-orange-400"
                >
                  Instant, In-Depth Analysis
                </h4>
                <p class="text-gray-500 dark:text-gray-400">
                  Review each turn with frame-by-frame analysis, immediately
                  after it happens.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-10">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
          >
            No Mounted Cameras, No Expensive TVs
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            With your iPhone and iPad, you have all the power you need to
            capture practice moments without costly equipment. Keep it portable,
            simple, and affordable.
          </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div
                class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-600/20"
              >
                <svg
                  fill="currentColor"
                  class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400"
                  viewBox="-1.5 0 19 19"
                  xmlns="http://www.w3.org/2000/svg"
                  class="cf-icon-svg"
                  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                    ><path
                      d="M14.897 7.404a.553.553 0 0 1-.392-.163 9.192 9.192 0 0 0-13.01 0 .554.554 0 1 1-.784-.783 10.3 10.3 0 0 1 14.578 0 .554.554 0 0 1-.392.946zm-2.172 2.172a.553.553 0 0 1-.392-.162 6.127 6.127 0 0 0-8.666 0 .554.554 0 0 1-.784-.784 7.23 7.23 0 0 1 10.233 0 .554.554 0 0 1-.391.946zm-2.173 2.173a.553.553 0 0 1-.392-.162 3.054 3.054 0 0 0-4.32 0 .554.554 0 1 1-.784-.784 4.163 4.163 0 0 1 5.888 0 .554.554 0 0 1-.392.946zm-1.141 2.048a1.403 1.403 0 1 1-1.403-1.403 1.403 1.403 0 0 1 1.403 1.403z"
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="w-5/6">
                <h4
                  class="font-semibold text-lg text-gray-700 dark:text-teal-300"
                >
                  Portable = Powerful
                </h4>
                <p class="text-gray-500 dark:text-gray-400">
                  Get the benefits of live video review on every event, not just
                  the pit bar.
                </p>
              </div>
            </div>
            <div class="pt-4 flex gap-4 md:items-center">
              <div
                class="w-12 h-12 flex gap-4 rounded-full bg-purple-100 dark:bg-purple-900/20"
              >
                <div
                  class="w-12 h-12 flex gap-4 rounded-full bg-purple-100 dark:bg-purple-900/20"
                >
                  <svg
                    fill="currentColor"
                    class="w-6 h-6 m-auto text-purple-600 dark:text-purple-400"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.261 1.03462C12.6971 1.15253 13 1.54819 13 1.99997V8.99997H19C19.3581 8.99997 19.6888 9.19141 19.8671 9.50191C20.0455 9.8124 20.0442 10.1945 19.8638 10.5038L12.8638 22.5038C12.6361 22.8941 12.1751 23.0832 11.739 22.9653C11.3029 22.8474 11 22.4517 11 22V15H5C4.64193 15 4.3112 14.8085 4.13286 14.498C3.95452 14.1875 3.9558 13.8054 4.13622 13.4961L11.1362 1.4961C11.3639 1.10586 11.8249 0.916719 12.261 1.03462ZM6.74104 13H12C12.5523 13 13 13.4477 13 14V18.301L17.259 11H12C11.4477 11 11 10.5523 11 9.99997V5.69889L6.74104 13Z"
                      ></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="w-5/6">
                <h4
                  class="font-semibold text-lg text-gray-700 dark:text-purple-400"
                >
                  Instant Setup
                </h4>
                <p class="text-gray-500 dark:text-gray-400">
                  Set up in seconds and start capturing immediately—no complex
                  equipment needed.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="md:5/12 lg:w-1/2">
          <img
            src={unConnected}
            alt="unconnected devices"
            class="w-full mt-12 md:mt-0"
          />
        </div>
      </div>
    </div>
  </Container>
</div>
